<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<style>
    body {
 font-family: sans-serif;
 text-align: center;
 padding: 4rem;
 font-size: 1.125rem;
 line-height: 1.5;
 transition: all 725ms ease-in-out;
}

h1 {
 font-size: 2rem;
 font-weight: bolder;
 margin-bottom: 1rem;
 color: yellowgreen
}

p {
 margin-bottom: 1rem;
 color: blue;
}

button {
 cursor: pointer;
 appearance: none;
 border-radius: 4px;
 font-size: 1.25rem;
 padding: 0.75rem 1rem;
 border: 1px solid yellowgreen;
 background-color: dodgerblue;
 color: white;
}

</style>
<body>
    <div>
    <h1>id: {{ post.id }}</h1>
    <h1>{{ post.title }}</h1>
    <h4>{{ post.author }}</h4>
    <p>{{ post.date }}</p>
    <p>{{ post.description }}</p>
    <!-- <button type = text>Update</button> -->
    <li class="nav-item">
        <a href="http://127.0.0.1:5000/{{post.id}}/update">Update<a>
    </li>
    <li class="nav-item">
        <a href="http://127.0.0.1:5000/{{post.id}}/delete">Delete<a>
    </li>
    
    </div>
</body>
</html>